*{
    background-color: #433e3f;
    color: #c69c72;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#mamo{
    width: 50%;
    height: 50%;
}
#youngpic{
     width: 50%;
     height: 50%; 
}
#title{
    text-align: center;
}