/*colors
    #A0B2A6 - Light green
    #61988E - Perry Green
    #493843 - EggPlant
    #CBBFBB - light brown
    #EABDA8 - deep orange
*/
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: #EABDA8 ;
    color: #493843;
}
#start{
    background-color: #CBBFBB ;
    margin: 50px;
    padding-left: 15px;
    height: 500px;
    width: 1000px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: left;
    justify-content: space-between;
}
#dolist{
    background-color: #61988E ;
    margin: 50px;   
    height: 500px;
    width: 1000px; 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: left;
    justify-content: center;
}
#twobox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
h3{
    align-self: center;
}
h1{
    text-align: center;
}
img{
    text-align: center;
}
#logo{
    width: 35%;
    height: auto;
}
#pstr{
   width: 50%;
    height: auto;
}
#show{
    display: none;
}
